/* ppja-doc-img.css
 * https://mouseypounds.github.io/ppja-doc/
 */
img.craftables {
	vertical-align: -2px;
	width: 16px;
	height: 32px;
	background-image:url("./img/ss_craftables.png")
}
img.craftables_x2 {
	vertical-align: -5px;
	width: 32px;
	height: 64px;
	background-image:url("./img/ss_craftables_x2.png")
}
img.crops {
	vertical-align: -2px;
	/* Full sprite is 128px */
	width: 16px;
	height: 32px;
	background-image:url("./img/ss_crops.png")
}
img.crops_x2 {
	vertical-align: -2px;
	width: 32px;
	height: 64px;
	background-image:url("./img/ss_crops_x2.png")
}
img.hats {
	vertical-align: -2px;
	width: 20px;
	height: 20px;
	background-image:url("./img/ss_hats.png")
}
img.hats_x2 {
	vertical-align: -2px;
	width: 40px;
	height: 40px;
	background-image:url("./img/ss_hats_x2.png")
}
img.objects {
	vertical-align: -2px;
	width: 16px;
	height: 16px;
	background-image:url("./img/ss_objects.png")
}
img.objects_x2 {
	vertical-align: -2px;
	width: 32px;
	height: 32px;
	background-image:url("./img/ss_objects_x2.png")
}
img.trees {
	vertical-align: -2px;
	width: 48px;
	height: 80px;
	background-image:url("./img/ss_trees.png")
}
img.trees_x2 {
	vertical-align: -2px;
	width: 96px;
	height: 160px;
	background-image:url("./img/ss_trees_x2.png")
}
img.game_craftables {
	vertical-align: -2px;
	width: 16px;
	height: 32px;
	background-image:url("./img/game_craftables.png")
}
img.game_craftables_x2 {
	vertical-align: -5px;
	width: 32px;
	height: 64px;
	background-image:url("./img/game_craftables_x2.png")
}
img.game_crops {
	vertical-align: -2px;
	/* Full sprite is 128px */
	width: 16px;
	height: 32px;
	background-image:url("./img/game_crops.png")
}
img.game_crops_x2 {
	vertical-align: -2px;
	width: 32px;
	height: 64px;
	background-image:url("./img/game_crops_x2.png")
}
img.game_hats {
	vertical-align: -2px;
	width: 20px;
	height: 20px;
	background-image:url("./img/game_hats.png")
}
img.game_hats_x2 {
	vertical-align: -2px;
	width: 40px;
	height: 40px;
	background-image:url("./img/game_hats_x2.png")
}
img.game_objects {
	vertical-align: -2px;
	width: 16px;
	height: 16px;
	background-image:url("./img/game_objects.png")
}
img.game_objects_x2 {
	vertical-align: -2px;
	width: 32px;
	height: 32px;
	background-image:url("./img/game_objects_x2.png")
}
img.game_trees {
	vertical-align: -2px;
	width: 48px;
	height: 80px;
	background-image:url("./img/game_trees.png")
}
img.game_trees_x2 {
	vertical-align: -2px;
	width: 96px;
	height: 160px;
	background-image:url("./img/game_trees_x2.png")
}
img#Crop_Chevon_x2 {
	background-position: -704px -256px;
}
img#Machine_Soap_Press_x2 {
	background-position: -576px 0px;
}
img#Crop_Gold_Leaf_x2 {
	background-position: -1728px -64px;
}
img#Crop_Broccoli {
	background-position: -592px -160px;
}
img#Crop_Bee_Balm {
	background-position: -464px -288px;
}
img#Crop_Adzuki_Bean_x2 {
	background-position: -2240px -256px;
}
img#Crop_Blackberry_x2 {
	background-position: -960px -320px;
}
img#Object_Juniper_x2 {
	background-position: -1568px -160px;
}
img#Crop_Summer_Rose {
	background-position: -1120px -320px;
}
img#Crop_Aloe_x2 {
	background-position: -2464px -256px;
}
img#Crop_Rose {
	background-position: -736px -320px;
}
img#Object_Iris_x2 {
	background-position: -32px -128px;
}
img#Object_Chicken_x2 {
	background-position: -800px -160px;
}
img#Object_Chevon {
	background-position: -384px -80px;
}
img#Crop_429 {
	background-position: -208px -416px;
}
img#Object_Fragrant_Lilac {
	background-position: -1104px -96px;
}
img#Crop_Honeysuckle {
	background-position: -208px -320px;
}
img#Crop_Gooseberry {
	background-position: -736px -192px;
}
img#Object_Watermelon_Mizu {
	background-position: -1184px -80px;
}
img#Object_Sweet_Jasmine {
	background-position: -1264px -96px;
}
img#Object_Purple_Coneflower {
	background-position: -1184px -96px;
}
img#Object_Beef_x2 {
	background-position: -736px -160px;
}
img#Object_OG_Kush {
	background-position: -1120px -16px;
}
img#Crop_Sweet_Potato_x2 {
	background-position: -2240px -512px;
}
img#Object_Northern_Lights {
	background-position: -1104px -16px;
}
img#Crop_Passion_Flower {
	background-position: -336px -320px;
}
img#Machine_Foreign_Cask_x2 {
	background-position: -96px 0px;
}
img#Crop_Spring_Rose {
	background-position: -992px -320px;
}
img#Crop_473 {
	background-position: -224px 0px;
}
img#Object_Carrot_x2 {
	background-position: -1216px -160px;
}
img#Object_Herbal_Lavender_x2 {
	background-position: -2240px -192px;
}
img#Crop_474_x2 {
	background-position: -192px -64px;
}
img#Object_Sour_Diesel {
	background-position: -1152px -16px;
}
img#Machine_Glass_Jar {
	background-position: -32px 0px;
}
img#Object_Coal_Root_x2 {
	background-position: -1888px -96px;
}
img#Crop_Violet {
	background-position: -1232px -96px;
}
img#Object_Indica_x2 {
	background-position: -2176px -32px;
}
img#Machine_Grinder_x2 {
	background-position: -288px 0px;
}
img#Machine_Smoker {
	background-position: -320px 0px;
}
img#Crop_Mutton {
	background-position: -736px -128px;
}
img#Object_Lettuce {
	background-position: -816px -80px;
}
img#Crop_Duck_x2 {
	background-position: -1216px -256px;
}
img#Crop_Green_Crack {
	background-position: -480px 0px;
}
img#Crop_Parsley {
	background-position: -720px -224px;
}
img#Object_Sativa {
	background-position: -1136px -16px;
}
img#Object_Purple_Coneflower_x2 {
	background-position: -2368px -192px;
}
img#Crop_Herbal_Peony_x2 {
	background-position: -192px -192px;
}
img#Machine_Enhanced_Oil_Maker {
	background-position: -112px 0px;
}
img#Crop_Iron_Leaf {
	background-position: -1120px -32px;
}
img#Object_Parsley_x2 {
	background-position: -1824px -160px;
}
img#Object_Delphinium_x2 {
	background-position: -2400px -96px;
}
img#Machine_Ice_Cream_Machine {
	background-position: -224px 0px;
}
img#Crop_Basil {
	background-position: -208px -160px;
}
img#Object_Iron_Leaf {
	background-position: -1008px -48px;
}
img#Object_Duck {
	background-position: -416px -80px;
}
img#Object_Pineapple {
	background-position: -960px -80px;
}
img#Machine_Juicer {
	background-position: -272px 0px;
}
img#Object_Peanut {
	background-position: -944px -80px;
}
img#Crop_Fall_Rose {
	background-position: -1120px -288px;
}
img#Object_Blue_Dream_x2 {
	background-position: -1984px -32px;
}
img#Crop_476_x2 {
	background-position: -160px -128px;
}
img#Crop_475_x2 {
	background-position: -448px -64px;
}
img#Crop_Clary_Sage {
	background-position: -848px -288px;
}
img#Object_Honeysuckle {
	background-position: -1136px -96px;
}
img#Crop_Lavender_x2 {
	background-position: -1216px -192px;
}
img#Crop_745 {
	background-position: -96px -576px;
}
img#Crop_Cotton_x2 {
	background-position: -192px -384px;
}
img#Crop_477_x2 {
	background-position: -416px -128px;
}
img#Object_Juniper {
	background-position: -784px -80px;
}
img#Crop_Indica {
	background-position: -864px 0px;
}
img#Crop_Lotus_x2 {
	background-position: -1984px -192px;
}
img#Crop_Gold_Leaf {
	background-position: -864px -32px;
}
img#Object_English_Rose_x2 {
	background-position: -2432px -96px;
}
img#Crop_Allium_x2 {
	background-position: -160px -128px;
}
img#Crop_483_x2 {
	background-position: -416px -320px;
}
img#Machine_Wax_Barrel_x2 {
	background-position: -416px 0px;
}
img#Object_Chicken {
	background-position: -400px -80px;
}
img#Object_Carrot {
	background-position: -608px -80px;
}
img#Crop_Sativa {
	background-position: -1248px 0px;
}
img#Crop_484 {
	background-position: -80px -192px;
}
img#Crop_Sugar_Beet_x2 {
	background-position: -1472px -512px;
}
img#Crop_English_Rose {
	background-position: -992px -64px;
}
img#Object_Camellia_x2 {
	background-position: -2240px -96px;
}
img#Crop_Sour_Diesel {
	background-position: -96px -32px;
}
img#Object_Lily_x2 {
	background-position: -128px -128px;
}
img#Crop_802 {
	background-position: -224px -640px;
}
img#Crop_302 {
	background-position: -224px -576px;
}
img#Crop_Herbal_Lavender {
	background-position: -80px -320px;
}
img#Crop_347 {
	background-position: -96px -512px;
}
img#Crop_491_x2 {
	background-position: -416px -576px;
}
img#Object_OG_Kush_x2 {
	background-position: -2240px -32px;
}
img#Crop_Ginger {
	background-position: -592px -192px;
}
img#Object_Hyacinth {
	background-position: -1280px -48px;
}
img#Crop_Sugar_Cane_x2 {
	background-position: -1728px -512px;
}
img#Object_Chevon_x2 {
	background-position: -768px -160px;
}
img#Machine_Extruder {
	background-position: -128px 0px;
}
img#Crop_496_x2 {
	background-position: -352px -704px;
}
img#Object_Herbal_Peony_x2 {
	background-position: -2528px -96px;
}
img#Crop_495_x2 {
	background-position: -352px -704px;
}
img#Crop_White_Widow_x2 {
	background-position: -960px -64px;
}
img#Object_Pink_Cat_x2 {
	background-position: -2336px -192px;
}
img#Crop_Broccoli_x2 {
	background-position: -1184px -320px;
}
img#Crop_Bee_Balm_x2 {
	background-position: -928px -576px;
}
img#Crop_Fairy_Duster {
	background-position: -976px -288px;
}
img#Crop_OG_Kush_x2 {
	background-position: -2240px 0px;
}
img#Crop_497_x2 {
	background-position: -352px -704px;
}
img#Object_Passion_Fruit_x2 {
	background-position: -1856px -160px;
}
img#Crop_453 {
	background-position: -80px -448px;
}
img#Machine_Smoker_x2 {
	background-position: -640px 0px;
}
img#Crop_Mint_x2 {
	background-position: -160px -448px;
}
img#Crop_Petunia_x2 {
	background-position: -2208px -192px;
}
img#Object_Spring_Rose_x2 {
	background-position: -2464px -192px;
}
img#Crop_487 {
	background-position: -224px -224px;
}
img#Crop_Tobacco_x2 {
	background-position: -672px -64px;
}
img#Crop_486 {
	background-position: -96px -224px;
}
img#Object_Lettuce_x2 {
	background-position: -1632px -160px;
}
img#Crop_Lavender {
	background-position: -608px -96px;
}
img#Object_Sweet_Potato_x2 {
	background-position: -2240px -160px;
}
img#Object_Broccoli {
	background-position: -576px -80px;
}
img#Crop_485 {
	background-position: -224px -192px;
}
img#Crop_Cassava_x2 {
	background-position: -1984px -320px;
}
img#Crop_481 {
	background-position: -224px -128px;
}
img#Crop_Tea_x2 {
	background-position: -2496px -512px;
}
img#Object_White_Widow {
	background-position: -1200px -16px;
}
img#Object_Parsley {
	background-position: -912px -80px;
}
img#Object_Peanut_x2 {
	background-position: -1888px -160px;
}
img#Crop_299 {
	background-position: -208px -608px;
}
img#Object_Gooseberry_x2 {
	background-position: -1504px -160px;
}
img#Crop_Iron_Leaf_x2 {
	background-position: -2240px -64px;
}
img#Machine_Drying_Rack {
	background-position: -96px 0px;
}
img#Machine_Juicer_x2 {
	background-position: -544px 0px;
}
img#Object_Gold_Leaf {
	background-position: -976px -48px;
}
img#Machine_Yogurt_Jar {
	background-position: -192px 0px;
}
img#Object_Bell_Pepper {
	background-position: -544px -80px;
}
img#Machine_Soap_Maker {
	background-position: -368px 0px;
}
img#Crop_Rabbit_x2 {
	background-position: -1984px -256px;
}
img#Object_Lavender_x2 {
	background-position: -64px -128px;
}
img#Machine_Ice_Cream_Machine_x2 {
	background-position: -448px 0px;
}
img#Object_Blackberry_x2 {
	background-position: -1120px -160px;
}
img#Crop_Money_Plant_x2 {
	background-position: -2496px -64px;
}
img#Crop_Fall_Rose_x2 {
	background-position: -2240px -576px;
}
img#Crop_Dahlia {
	background-position: -720px -64px;
}
img#Crop_Spinach {
	background-position: -576px -256px;
}
img#Crop_493 {
	background-position: -224px -320px;
}
img#Object_Sugar_Beet {
	background-position: -1072px -80px;
}
img#Object_Sugar_Cane {
	background-position: -1088px -80px;
}
img#Crop_494_x2 {
	background-position: -160px -704px;
}
img#Object_Sage_x2 {
	background-position: -2048px -160px;
}
img#Object_Sativa_x2 {
	background-position: -2272px -32px;
}
img#Object_Copper_Leaf {
	background-position: -960px -48px;
}
img#Crop_455_x2 {
	background-position: -416px -896px;
}
img#Object_Indica {
	background-position: -1088px -16px;
}
img#Machine_Grinder {
	background-position: -144px 0px;
}
img#Object_Violet_x2 {
	background-position: -224px -128px;
}
img#Crop_Bell_Pepper {
	background-position: -352px -160px;
}
img#Crop_Watermelon_Mizu_x2 {
	background-position: -704px -576px;
}
img#Machine_Vinegar_Cask {
	background-position: -256px 0px;
}
img#Crop_Iridium_Fern {
	background-position: -992px -32px;
}
img#Machine_Enhanced_Oil_Maker_x2 {
	background-position: -224px 0px;
}
img#Crop_433_x2 {
	background-position: -192px -1280px;
}
img#Crop_Carnation_x2 {
	background-position: -672px -128px;
}
img#Object_Fall_Rose_x2 {
	background-position: -2176px -192px;
}
img#Object_Chrysanthemum_x2 {
	background-position: -2304px -96px;
}
img#Object_Money_Plant_x2 {
	background-position: -2048px -96px;
}
img#Machine_Butter_Churn_x2 {
	background-position: -128px 0px;
}
img#Crop_Rice {
	background-position: -96px -256px;
}
img#Object_Mutton_x2 {
	background-position: -864px -160px;
}
img#Crop_Rabbit {
	background-position: -992px -128px;
}
img#Object_Cabbage_x2 {
	background-position: -1184px -160px;
}
img#Object_Petunia {
	background-position: -96px -64px;
}
img#Crop_Chamomile {
	background-position: -720px -288px;
}
img#Crop_482 {
	background-position: -96px -160px;
}
img#Machine_Perfumery_x2 {
	background-position: -704px 0px;
}
img#Crop_Clary_Sage_x2 {
	background-position: -1696px -576px;
}
img#Object_Elderberry_x2 {
	background-position: -1408px -160px;
}
img#Crop_OG_Kush {
	background-position: -1120px 0px;
}
img#Object_Muskmelon_x2 {
	background-position: -1696px -160px;
}
img#Crop_Dahlia_x2 {
	background-position: -1440px -128px;
}
img#Object_Tea_x2 {
	background-position: -2272px -160px;
}
img#Object_Watermelon_Mizu_x2 {
	background-position: -2368px -160px;
}
img#Object_Sage {
	background-position: -1024px -80px;
}
img#Crop_489_x2 {
	background-position: -448px -512px;
}
img#Crop_498 {
	background-position: -176px -352px;
}
img#Machine_Dryer {
	background-position: -336px 0px;
}
img#Crop_Passion_Fruit {
	background-position: -864px -224px;
}
img#Crop_488_x2 {
	background-position: -192px -512px;
}
img#Crop_499 {
	background-position: -96px -384px;
}
img#Object_Blue_Mist_x2 {
	background-position: -2048px -192px;
}
img#Crop_Indica_x2 {
	background-position: -1728px 0px;
}
img#Crop_Chrysanthemum {
	background-position: -464px -64px;
}
img#Crop_Blackberry {
	background-position: -480px -160px;
}
img#Crop_Lilac_x2 {
	background-position: -1472px -192px;
}
img#Crop_Allium {
	background-position: -80px -64px;
}
img#Crop_Tobacco {
	background-position: -336px -32px;
}
img#Crop_Petunia {
	background-position: -1104px -96px;
}
img#Crop_Sativa_x2 {
	background-position: -2496px 0px;
}
img#Object_Northern_Lights_x2 {
	background-position: -2208px -32px;
}
img#Crop_492_x2 {
	background-position: -160px -640px;
}
img#Crop_Gooseberry_x2 {
	background-position: -1472px -384px;
}
img#Object_Lily {
	background-position: -64px -64px;
}
img#Crop_431 {
	background-position: -80px -480px;
}
img#Crop_Cassava {
	background-position: -992px -160px;
}
img#Crop_Camellia {
	background-position: -224px -64px;
}
img#Crop_Passion_Flower_x2 {
	background-position: -672px -640px;
}
img#Crop_Ginger_x2 {
	background-position: -1184px -384px;
}
img#Crop_Navy_Bean_x2 {
	background-position: -704px -448px;
}
img#Crop_301 {
	background-position: -96px -608px;
}
img#Object_Chamomile_x2 {
	background-position: -2080px -192px;
}
img#Object_Strawberry_Cough_x2 {
	background-position: -2336px -32px;
}
img#Object_Sweet_Canary_Melon {
	background-position: -1104px -80px;
}
img#Object_Hybrid {
	background-position: -1072px -16px;
}
img#Crop_Sweet_Jasmine_x2 {
	background-position: -2464px -640px;
}
img#Crop_Coal_Root_x2 {
	background-position: -1184px -64px;
}
img#Object_Ginger {
	background-position: -736px -80px;
}
img#Crop_Girl_Scout_Cookies {
	background-position: -352px 0px;
}
img#Crop_Hemp {
	background-position: -608px 0px;
}
img#Crop_Kiwi_x2 {
	background-position: -2240px -384px;
}
img#Object_Shaded_Violet {
	background-position: -1216px -96px;
}
img#Crop_Northern_Lights_x2 {
	background-position: -1984px 0px;
}
img#Crop_Sage {
	background-position: -336px -256px;
}
img#Crop_Shaded_Violet_x2 {
	background-position: -1696px -640px;
}
img#Machine_Mayonnaise_Machine_x2 {
	background-position: -608px 0px;
}
img#Crop_Spinach_x2 {
	background-position: -1152px -512px;
}
img#Object_Adzuki_Bean_x2 {
	background-position: -960px -160px;
}
img#Object_Sweet_Potato {
	background-position: -1120px -80px;
}
img#Crop_479 {
	background-position: -224px -96px;
}
img#Machine_Dryer_x2 {
	background-position: -672px 0px;
}
img#Object_Fragrant_Lilac_x2 {
	background-position: -2208px -192px;
}
img#Object_Navy_Bean {
	background-position: -864px -80px;
}
img#Crop_490_x2 {
	background-position: -192px -576px;
}
img#Crop_Mutton_x2 {
	background-position: -1472px -256px;
}
img#Object_Broccoli_x2 {
	background-position: -1152px -160px;
}
img#Crop_472_x2 {
	background-position: -160px 0px;
}
img#Object_Raspberry {
	background-position: -976px -80px;
}
img#Crop_Carnation {
	background-position: -336px -64px;
}
img#Object_Mutton {
	background-position: -432px -80px;
}
img#Object_Duck_x2 {
	background-position: -832px -160px;
}
img#Machine_Dehydrator_x2 {
	background-position: -160px 0px;
}
img#Object_Green_Pea {
	background-position: -768px -80px;
}
img#Crop_Onion {
	background-position: -464px -224px;
}
img#Object_Cabbage {
	background-position: -592px -80px;
}
img#Object_Lavender {
	background-position: -32px -64px;
}
img#Object_Strawberry_Cough {
	background-position: -1168px -16px;
}
img#Crop_Thyme_x2 {
	background-position: -160px -576px;
}
img#Machine_Drying_Rack_x2 {
	background-position: -192px 0px;
}
img#Crop_Chamomile_x2 {
	background-position: -1440px -576px;
}
img#Object_Petunia_x2 {
	background-position: -192px -128px;
}
img#Crop_Pork_x2 {
	background-position: -1728px -256px;
}
img#Object_Violet {
	background-position: -112px -64px;
}
img#Crop_Cotton {
	background-position: -96px -192px;
}
img#Crop_Chevon {
	background-position: -352px -128px;
}
img#Crop_Parsley_x2 {
	background-position: -1440px -448px;
}
img#Crop_Beef_x2 {
	background-position: -448px -256px;
}
img#Object_English_Rose {
	background-position: -1216px -48px;
}
img#Crop_Sugar_Beet {
	background-position: -736px -256px;
}
img#Object_Ginger_x2 {
	background-position: -1472px -160px;
}
img#Object_Summer_Rose {
	background-position: -1248px -96px;
}
img#Object_Iris {
	background-position: -16px -64px;
}
img#Object_Camellia {
	background-position: -1120px -48px;
}
img#Object_Herbal_Lavender {
	background-position: -1120px -96px;
}
img#Object_Hybrid_x2 {
	background-position: -2144px -32px;
}
img#Crop_Lily {
	background-position: -848px -96px;
}
img#Crop_Camellia_x2 {
	background-position: -448px -128px;
}
img#Object_Hydrangea_x2 {
	background-position: 0px -128px;
}
img#Crop_Copper_Leaf {
	background-position: -736px -32px;
}
img#Object_Green_Crack_x2 {
	background-position: -2080px -32px;
}
img#Crop_Iris {
	background-position: -480px -96px;
}
img#Crop_425_x2 {
	background-position: -416px -960px;
}
img#Object_Beef {
	background-position: -368px -80px;
}
img#Crop_Navy_Bean {
	background-position: -352px -224px;
}
img#Crop_Sugar_Cane {
	background-position: -864px -256px;
}
img#Object_Hyacinth_x2 {
	background-position: -2560px -96px;
}
img#Crop_Coal_Root {
	background-position: -592px -32px;
}
img#Crop_427_x2 {
	background-position: -160px -832px;
}
img#Object_Clary_Sage_x2 {
	background-position: -2112px -192px;
}
img#Crop_480 {
	background-position: -96px -128px;
}
img#Machine_Hardwood_Keg_x2 {
	background-position: -32px 0px;
}
img#Crop_478 {
	background-position: -96px -96px;
}
img#Crop_Violet_x2 {
	background-position: -2464px -192px;
}
img#Object_Herbal_Peony {
	background-position: -1264px -48px;
}
img#Object_Carnation {
	background-position: -1136px -48px;
}
img#Object_Pink_Cat {
	background-position: -1168px -96px;
}
img#Crop_Blue_Dream_x2 {
	background-position: -192px 0px;
}
img#Object_Cannabis_x2 {
	background-position: -2016px -32px;
}
img#Crop_Wisteria_x2 {
	background-position: -192px -256px;
}
img#Object_Geranium {
	background-position: -1248px -48px;
}
img#Object_Cassava_x2 {
	background-position: -1248px -160px;
}
img#Object_Adzuki_Bean {
	background-position: -480px -80px;
}
img#Crop_Barley_x2 {
	background-position: -160px -320px;
}
img#Machine_Dehydrator {
	background-position: -80px 0px;
}
img#Machine_Spinning_Wheel_x2 {
	background-position: -352px 0px;
}
img#Crop_Fennel {
	background-position: -464px -192px;
}
img#Object_Muskmelon {
	background-position: -848px -80px;
}
img#Object_Passion_Fruit {
	background-position: -928px -80px;
}
img#Crop_Fairy_Duster_x2 {
	background-position: -1952px -576px;
}
img#Object_Dahlia {
	background-position: -1184px -48px;
}
img#Crop_Green_Pea {
	background-position: -864px -192px;
}
img#Crop_Bell_Pepper_x2 {
	background-position: -704px -320px;
}
img#Object_Rabbit {
	background-position: -464px -80px;
}
img#Object_Rose_x2 {
	background-position: -2400px -192px;
}
img#Crop_Elderberry_x2 {
	background-position: -704px -384px;
}
img#Object_Freesia {
	background-position: -1232px -48px;
}
img#Crop_745_x2 {
	background-position: -192px -1152px;
}
img#Object_Fall_Rose {
	background-position: -1088px -96px;
}
img#Crop_English_Rose_x2 {
	background-position: -1984px -128px;
}
img#Crop_477 {
	background-position: -208px -64px;
}
img#Object_Wasabi {
	background-position: -1168px -80px;
}
img#Machine_Mayonnaise_Machine {
	background-position: -304px 0px;
}
img#Object_Soybean_x2 {
	background-position: -2080px -160px;
}
img#Crop_476 {
	background-position: -80px -64px;
}
img#Object_Iridium_Fern {
	background-position: -992px -48px;
}
img#Crop_475 {
	background-position: -224px -32px;
}
img#Crop_Wasabi {
	background-position: -208px -288px;
}
img#Machine_Spinning_Wheel {
	background-position: -176px 0px;
}
img#Crop_Herbal_Lavender_x2 {
	background-position: -160px -640px;
}
img#Object_Chives_x2 {
	background-position: -1312px -160px;
}
img#Crop_Peanut {
	background-position: -976px -224px;
}
img#Object_Summer_Rose_x2 {
	background-position: -2496px -192px;
}
img#Crop_Cucumber {
	background-position: -224px -192px;
}
img#Object_Blackberry {
	background-position: -560px -80px;
}
img#Crop_Hybrid_x2 {
	background-position: -1472px 0px;
}
img#Crop_Chicken {
	background-position: -480px -128px;
}
img#Object_Lotus {
	background-position: -80px -64px;
}
img#Object_Chamomile {
	background-position: -1040px -96px;
}
img#Crop_Strawberry_Cough_x2 {
	background-position: -448px -64px;
}
img#Object_Basil {
	background-position: -528px -80px;
}
img#Crop_Mint {
	background-position: -80px -224px;
}
img#Object_Green_Crack {
	background-position: -1040px -16px;
}
img#Machine_Infuser_x2 {
	background-position: -320px 0px;
}
img#Object_Sugar_Beet_x2 {
	background-position: -2144px -160px;
}
img#Object_Sugar_Cane_x2 {
	background-position: -2176px -160px;
}
img#Crop_Muskmelon {
	background-position: -208px -224px;
}
img#Crop_Oregano_x2 {
	background-position: -1184px -448px;
}
img#Crop_Pink_Cat {
	background-position: -464px -320px;
}
img#Crop_429_x2 {
	background-position: -416px -832px;
}
img#Object_Tobacco_x2 {
	background-position: -2368px -32px;
}
img#Object_Oregano_x2 {
	background-position: -1792px -160px;
}
img#Crop_Cannabis_x2 {
	background-position: -448px 0px;
}
img#Object_Passion_Flower_x2 {
	background-position: -2304px -192px;
}
img#Object_Blue_Mist {
	background-position: -1024px -96px;
}
img#Object_Clematis_x2 {
	background-position: -2336px -96px;
}
img#Object_Sweet_Canary_Melon_x2 {
	background-position: -2208px -160px;
}
img#Crop_Hydrangea {
	background-position: -352px -96px;
}
img#Crop_Fragrant_Lilac {
	background-position: -1248px -288px;
}
img#Crop_Delphinium {
	background-position: -864px -64px;
}
img#Object_Fennel {
	background-position: -720px -80px;
}
img#Crop_Lotus {
	background-position: -992px -96px;
}
img#Crop_Sweet_Canary_Melon {
	background-position: -992px -256px;
}
img#Crop_473_x2 {
	background-position: -448px 0px;
}
img#Object_Gooseberry {
	background-position: -752px -80px;
}
img#Crop_474 {
	background-position: -96px -32px;
}
img#Object_Wasabi_x2 {
	background-position: -2336px -160px;
}
img#Crop_486_x2 {
	background-position: -192px -448px;
}
img#Object_Sweet_Jasmine_x2 {
	background-position: -2528px -192px;
}
img#Crop_485_x2 {
	background-position: -448px -384px;
}
img#Crop_Chives {
	background-position: -1232px -160px;
}
img#Machine_Foreign_Cask {
	background-position: -48px 0px;
}
img#Object_Cassava {
	background-position: -624px -80px;
}
img#Crop_Sweet_Potato {
	background-position: -1120px -256px;
}
img#Crop_487_x2 {
	background-position: -448px -448px;
}
img#Crop_Tea {
	background-position: -1248px -256px;
}
img#Object_Money_Plant {
	background-position: -1024px -48px;
}
img#Crop_481_x2 {
	background-position: -448px -256px;
}
img#Crop_299_x2 {
	background-position: -416px -1216px;
}
img#Crop_Rose_x2 {
	background-position: -1472px -640px;
}
img#Object_Rabbit_x2 {
	background-position: -928px -160px;
}
img#Crop_Juniper {
	background-position: -992px -192px;
}
img#Crop_Aloe {
	background-position: -1232px -128px;
}
img#Machine_Glass_Jar_x2 {
	background-position: -64px 0px;
}
img#Crop_Freesia {
	background-position: -1104px -64px;
}
img#Object_Dahlia_x2 {
	background-position: -2368px -96px;
}
img#Object_Rosemary_x2 {
	background-position: -2016px -160px;
}
img#Object_Thyme_x2 {
	background-position: -2304px -160px;
}
img#Object_Onion_x2 {
	background-position: -1760px -160px;
}
img#Crop_Green_Pea_x2 {
	background-position: -1728px -384px;
}
img#Crop_Celery_x2 {
	background-position: -2208px -320px;
}
img#Object_Freesia_x2 {
	background-position: -2464px -96px;
}
img#Machine_Alembic {
	background-position: -240px 0px;
}
img#Crop_Lettuce {
	background-position: -1248px -192px;
}
img#Crop_Basil_x2 {
	background-position: -416px -320px;
}
img#Object_Navy_Bean_x2 {
	background-position: -1728px -160px;
}
img#Crop_Wisteria {
	background-position: -96px -128px;
}
img#Object_Raspberry_x2 {
	background-position: -1952px -160px;
}
img#Crop_455 {
	background-position: -208px -448px;
}
img#Crop_493_x2 {
	background-position: -448px -640px;
}
img#Object_Green_Pea_x2 {
	background-position: -1536px -160px;
}
img#Crop_494 {
	background-position: -80px -352px;
}
img#Object_Soybean {
	background-position: -1040px -80px;
}
img#Crop_483 {
	background-position: -208px -160px;
}
img#Object_Bee_Balm_x2 {
	background-position: -2016px -192px;
}
img#Crop_484_x2 {
	background-position: -160px -384px;
}
img#Object_Kiwi {
	background-position: -800px -80px;
}
img#Object_Blue_Dream {
	background-position: -992px -16px;
}
img#Crop_Passion_Fruit_x2 {
	background-position: -1728px -448px;
}
img#Object_Fairy_Duster {
	background-position: -1072px -96px;
}
img#Object_Rice {
	background-position: -992px -80px;
}
img#Crop_Chrysanthemum_x2 {
	background-position: -928px -128px;
}
img#Crop_Carrot {
	background-position: -864px -160px;
}
img#Crop_Soybean_x2 {
	background-position: -960px -512px;
}
img#Crop_802_x2 {
	background-position: -448px -1280px;
}
img#Crop_302_x2 {
	background-position: -448px -1152px;
}
img#Crop_Purple_Coneflower {
	background-position: -592px -320px;
}
img#Object_Girl_Scout_Cookies_x2 {
	background-position: -2048px -32px;
}
img#Object_Fennel_x2 {
	background-position: -1440px -160px;
}
img#Crop_347_x2 {
	background-position: -192px -1024px;
}
img#Object_Carnation_x2 {
	background-position: -2272px -96px;
}
img#Crop_Cannabis {
	background-position: -224px 0px;
}
img#Object_Mint {
	background-position: -832px -80px;
}
img#Crop_Duck {
	background-position: -608px -128px;
}
img#Crop_Muskmelon_x2 {
	background-position: -416px -448px;
}
img#Object_Pork_x2 {
	background-position: -896px -160px;
}
img#Crop_Sweet_Jasmine {
	background-position: -1232px -320px;
}
img#Object_Cucumber {
	background-position: -688px -80px;
}
img#Object_Oregano {
	background-position: -896px -80px;
}
img#Crop_Pink_Cat_x2 {
	background-position: -928px -640px;
}
img#Object_Tobacco {
	background-position: -1184px -16px;
}
img#Crop_491 {
	background-position: -208px -288px;
}
img#Crop_Cabbage_x2 {
	background-position: -1472px -320px;
}
img#Crop_Hydrangea_x2 {
	background-position: -704px -192px;
}
img#Object_Wisteria {
	background-position: -128px -64px;
}
img#Object_Lilac_x2 {
	background-position: -96px -128px;
}
img#Crop_Shaded_Violet {
	background-position: -848px -320px;
}
img#Crop_497 {
	background-position: -176px -352px;
}
img#Crop_Herbal_Peony {
	background-position: -96px -96px;
}
img#Crop_453_x2 {
	background-position: -160px -896px;
}
img#Crop_Copper_Leaf_x2 {
	background-position: -1472px -64px;
}
img#Crop_496 {
	background-position: -176px -352px;
}
img#Object_Chives {
	background-position: -656px -80px;
}
img#Object_Aloe {
	background-position: -496px -80px;
}
img#Crop_Cucumber_x2 {
	background-position: -448px -384px;
}
img#Object_Hemp_x2 {
	background-position: -2112px -32px;
}
img#Crop_495 {
	background-position: -176px -352px;
}
img#Object_Delphinium {
	background-position: -1200px -48px;
}
img#Object_Hydrangea {
	background-position: 0px -64px;
}
img#Crop_Purple_Coneflower_x2 {
	background-position: -1184px -640px;
}
img#Machine_Wax_Barrel {
	background-position: -208px 0px;
}
img#Object_Kiwi_x2 {
	background-position: -1600px -160px;
}
img#Crop_499_x2 {
	background-position: -192px -768px;
}
img#Crop_488 {
	background-position: -96px -256px;
}
img#Crop_Carrot_x2 {
	background-position: -1728px -320px;
}
img#Object_Rice_x2 {
	background-position: -1984px -160px;
}
img#Machine_Infuser {
	background-position: -160px 0px;
}
img#Crop_Blue_Mist {
	background-position: -592px -288px;
}
img#Object_Barley_x2 {
	background-position: -1024px -160px;
}
img#Crop_431_x2 {
	background-position: -160px -960px;
}
img#Crop_Juniper_x2 {
	background-position: -1984px -384px;
}
img#Crop_Spring_Rose_x2 {
	background-position: -1984px -640px;
}
img#Crop_Pineapple_x2 {
	background-position: -2240px -448px;
}
img#Object_Coal_Root {
	background-position: -944px -48px;
}
img#Object_Mint_x2 {
	background-position: -1664px -160px;
}
img#Crop_Raspberry_x2 {
	background-position: -2496px -448px;
}
img#Crop_492 {
	background-position: -80px -320px;
}
img#Crop_Fragrant_Lilac_x2 {
	background-position: -2496px -576px;
}
img#Crop_Summer_Rose_x2 {
	background-position: -2240px -640px;
}
img#Crop_301_x2 {
	background-position: -192px -1216px;
}
img#Object_Pork {
	background-position: -448px -80px;
}
img#Crop_Lettuce_x2 {
	background-position: -2496px -384px;
}
img#Crop_Adzuki_Bean {
	background-position: -1120px -128px;
}
img#Machine_Still {
	background-position: 0px 0px;
}
img#Crop_Delphinium_x2 {
	background-position: -1728px -128px;
}
img#Crop_Hyacinth_x2 {
	background-position: -416px -192px;
}
img#Object_Onion {
	background-position: -880px -80px;
}
img#Crop_Pork {
	background-position: -864px -128px;
}
img#Object_Clematis {
	background-position: -1168px -48px;
}
img#Object_Celery_x2 {
	background-position: -1280px -160px;
}
img#Object_Thyme {
	background-position: -1152px -80px;
}
img#Crop_Freesia_x2 {
	background-position: -2208px -128px;
}
img#Crop_Clematis {
	background-position: -608px -64px;
}
img#Object_Aloe_x2 {
	background-position: -992px -160px;
}
img#Object_Cotton_x2 {
	background-position: -1344px -160px;
}
img#Crop_Honeysuckle_x2 {
	background-position: -416px -640px;
}
img#Object_Hemp {
	background-position: -1056px -16px;
}
img#Crop_Soybean {
	background-position: -480px -256px;
}
img#Crop_Blue_Dream {
	background-position: -96px 0px;
}
img#Crop_Chives_x2 {
	background-position: -2464px -320px;
}
img#Crop_433 {
	background-position: -96px -640px;
}
img#Object_Spinach_x2 {
	background-position: -2112px -160px;
}
img#Object_Pineapple_x2 {
	background-position: -1920px -160px;
}
img#Crop_Lily_x2 {
	background-position: -1696px -192px;
}
img#Object_Clary_Sage {
	background-position: -1056px -96px;
}
img#Crop_Iris_x2 {
	background-position: -960px -192px;
}
img#Object_Cannabis {
	background-position: -1008px -16px;
}
img#Object_Geranium_x2 {
	background-position: -2496px -96px;
}
img#Object_Spring_Rose {
	background-position: -1232px -96px;
}
img#Object_White_Widow_x2 {
	background-position: -2400px -32px;
}
img#Crop_Beef {
	background-position: -224px -128px;
}
img#Object_Allium_x2 {
	background-position: -2208px -96px;
}
img#Machine_Hardwood_Keg {
	background-position: -16px 0px;
}
img#Crop_Thyme {
	background-position: -80px -288px;
}
img#Crop_Geranium {
	background-position: -1232px -64px;
}
img#Crop_482_x2 {
	background-position: -192px -320px;
}
img#Crop_Cabbage {
	background-position: -736px -160px;
}
img#Object_Bell_Pepper_x2 {
	background-position: -1088px -160px;
}
img#Machine_Soap_Maker_x2 {
	background-position: -736px 0px;
}
img#Crop_Celery {
	background-position: -1104px -160px;
}
img#Crop_Green_Crack_x2 {
	background-position: -960px 0px;
}
img#Crop_Onion_x2 {
	background-position: -928px -448px;
}
img#Crop_Elderberry {
	background-position: -352px -192px;
}
img#Machine_Yogurt_Jar_x2 {
	background-position: -384px 0px;
}
img#Crop_498_x2 {
	background-position: -352px -704px;
}
img#Crop_489 {
	background-position: -224px -256px;
}
img#Object_Iridium_Fern_x2 {
	background-position: -1984px -96px;
}
img#Object_Iron_Leaf_x2 {
	background-position: -2016px -96px;
}
img#Object_Copper_Leaf_x2 {
	background-position: -1920px -96px;
}
img#Crop_Rosemary {
	background-position: -208px -256px;
}
img#Object_Lilac {
	background-position: -48px -64px;
}
img#Object_Fairy_Duster_x2 {
	background-position: -2144px -192px;
}
img#Crop_Peanut_x2 {
	background-position: -1952px -448px;
}
img#Object_Cotton {
	background-position: -672px -80px;
}
img#Object_Bee_Balm {
	background-position: -1008px -96px;
}
img#Crop_Clematis_x2 {
	background-position: -1216px -128px;
}
img#Crop_Rice_x2 {
	background-position: -192px -512px;
}
img#Crop_Hybrid {
	background-position: -736px 0px;
}
img#Machine_Extruder_x2 {
	background-position: -256px 0px;
}
img#Machine_Soap_Press {
	background-position: -288px 0px;
}
img#Machine_Perfumery {
	background-position: -352px 0px;
}
img#Crop_White_Widow {
	background-position: -480px -32px;
}
img#Machine_Still_x2 {
	background-position: 0px 0px;
}
img#Crop_Pineapple {
	background-position: -1120px -224px;
}
img#Crop_Hyacinth {
	background-position: -208px -96px;
}
img#Crop_Blue_Mist_x2 {
	background-position: -1184px -576px;
}
img#Object_Elderberry {
	background-position: -704px -80px;
}
img#Object_Celery {
	background-position: -640px -80px;
}
img#Crop_Sweet_Canary_Melon_x2 {
	background-position: -1984px -512px;
}
img#Crop_Raspberry {
	background-position: -1248px -224px;
}
img#Object_Cucumber_x2 {
	background-position: -1376px -160px;
}
img#Crop_427 {
	background-position: -80px -416px;
}
img#Crop_425 {
	background-position: -208px -480px;
}
img#Object_Barley {
	background-position: -512px -80px;
}
img#Crop_Watermelon_Mizu {
	background-position: -352px -288px;
}
img#Crop_Iridium_Fern_x2 {
	background-position: -1984px -64px;
}
img#Machine_Vinegar_Cask_x2 {
	background-position: -512px 0px;
}
img#Crop_478_x2 {
	background-position: -192px -192px;
}
img#Object_Wisteria_x2 {
	background-position: -256px -128px;
}
img#Crop_Lilac {
	background-position: -736px -96px;
}
img#Machine_Butter_Churn {
	background-position: -64px 0px;
}
img#Crop_480_x2 {
	background-position: -192px -256px;
}
img#Object_Sour_Diesel_x2 {
	background-position: -2304px -32px;
}
img#Object_Chrysanthemum {
	background-position: -1152px -48px;
}
img#Crop_Sour_Diesel_x2 {
	background-position: -192px -64px;
}
img#Crop_490 {
	background-position: -96px -288px;
}
img#Object_Lotus_x2 {
	background-position: -160px -128px;
}
img#Crop_Chicken_x2 {
	background-position: -960px -256px;
}
img#Object_Spinach {
	background-position: -1056px -80px;
}
img#Object_Gold_Leaf_x2 {
	background-position: -1952px -96px;
}
img#Crop_Rosemary_x2 {
	background-position: -416px -512px;
}
img#Object_Tea {
	background-position: -1136px -80px;
}
img#Crop_Money_Plant {
	background-position: -1248px -32px;
}
img#Crop_479_x2 {
	background-position: -448px -192px;
}
img#Crop_Girl_Scout_Cookies_x2 {
	background-position: -704px 0px;
}
img#Crop_Barley {
	background-position: -80px -160px;
}
img#Crop_Strawberry_Cough {
	background-position: -224px -32px;
}
img#Crop_Oregano {
	background-position: -592px -224px;
}
img#Crop_Fennel_x2 {
	background-position: -928px -384px;
}
img#Crop_Northern_Lights {
	background-position: -992px 0px;
}
img#Crop_472 {
	background-position: -80px 0px;
}
img#Object_Shaded_Violet_x2 {
	background-position: -2432px -192px;
}
img#Object_Girl_Scout_Cookies {
	background-position: -1024px -16px;
}
img#Object_Basil_x2 {
	background-position: -1056px -160px;
}
img#Crop_Geranium_x2 {
	background-position: -2464px -128px;
}
img#Object_Rosemary {
	background-position: -1008px -80px;
}
img#Crop_Hemp_x2 {
	background-position: -1216px 0px;
}
img#Object_Rose {
	background-position: -1200px -96px;
}
img#Object_Allium {
	background-position: -1104px -48px;
}
img#Crop_Sage_x2 {
	background-position: -672px -512px;
}
img#Crop_Kiwi {
	background-position: -1120px -192px;
}
img#Machine_Alembic_x2 {
	background-position: -480px 0px;
}
img#Object_Honeysuckle_x2 {
	background-position: -2272px -192px;
}
img#Object_Passion_Flower {
	background-position: -1152px -96px;
}
img#Crop_Wasabi_x2 {
	background-position: -416px -576px;
}
