/* ppja-doc.css
 * https://mouseypounds.github.io/ppja-doc/
 */

html {
	min-height: 100%;
	background-attachment: fixed;
	background-color: #80a0f0; /* fallback color if gradients are not supported */
	background-image: -webkit-linear-gradient(top, #80a0f0, #c0ffff, #40c040); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
	background-image:    -moz-linear-gradient(top, #80a0f0, #c0ffff, #40c040); /* For Firefox (3.6 to 15) */
	background-image:      -o-linear-gradient(top, #80a0f0, #c0ffff, #40c040); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to bottom, #80a0f0, #c0ffff, #40c040); /* Standard syntax; must be last */
}
body {
	margin: 15px;
	color: #603000;
}
a:link, a:visited { color: #804000; }
a:hover { color: #d08000; }
a:active { color: #ffa000; }
.panel {
	background-color: #ffe0b0;
	padding: .5em 2em .5em 1em;
	margin: 5px;
	border: 5px solid #804000;
	border-radius: 15px;
}
h2 {
	margin: 10px 0 4px;
}
.mach_desc {
	margin-bottom: 1em;
	font-weight: bold;
}
.note,.group {
	font-style: italic;
}

table.output, table.calendar, table.recipe {
	border: 2px solid black;
	background-color: white;
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	text-align: center;
}
th {
	color: white;
	background-color: #333;
}
table.recipe th {
	color: black;
	background-color: #aaa;
}
td {
	color: black;
}
table.output th, table.output td, table.recipe th, table.recipe td {
	padding: 3px 8px;
}
table.recipe {
	margin-bottom: .5em;
}
.container {
	margin-bottom: 1em;
}
.container__image {
    display: inline-block;
    vertical-align: bottom;
    width: 32px;
	margin-right: 0.5em;
  }
.container__text {
    display: inline-block;
  }

#TOC {
	position: fixed;
	right: 0;
	top: 0;
	padding: 0;
	max-height: 90%;
	max-width: 200px;
	overflow: auto;
	background-color: #eecc99;
	box-shadow: -2px 2px 25px #603000;
}
#TOC-details {
	display:none;
}
#TOC, #TOC:hover #TOC-details {
	display:block;
}
#TOC > h1, #TOC li a {
	padding: 5px 10px;
	display: block;
}
#TOC > h1 {
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	background-color: #804000;
	color: #eecc99;
}
#TOC ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#TOC li a {
	color: #60300;
	text-decoration: none;
}
#TOC li a:hover {
	background-color: #ffe0b0;
}
img.craftables {
	vertical-align: -2px;
	width: 16px;
	height: 32px;
	background-image:url("./img/ss_craftables.png")
}
img.craftables_x2 {
	vertical-align: -5px;
	width: 32px;
	height: 64px;
	background-image:url("./img/ss_craftables_x2.png")
}
img.crops {
	vertical-align: -2px;
	/* Full sprite is 128px */
	width: 16px;
	height: 32px;
	background-image:url("./img/ss_crops.png")
}
img.crops_x2 {
	vertical-align: -2px;
	width: 32px;
	height: 64px;
	background-image:url("./img/ss_crops_x2.png")
}
img.hats {
	vertical-align: -2px;
	width: 20px;
	height: 20px;
	background-image:url("./img/ss_hats.png")
}
img.hats_x2 {
	vertical-align: -2px;
	width: 40px;
	height: 40px;
	background-image:url("./img/ss_hats_x2.png")
}
img.objects {
	vertical-align: -2px;
	width: 16px;
	height: 16px;
	background-image:url("./img/ss_objects.png")
}
img.objects_x2 {
	vertical-align: -2px;
	width: 32px;
	height: 32px;
	background-image:url("./img/ss_objects_x2.png")
}
img.trees {
	vertical-align: -2px;
	width: 48px;
	height: 80px;
	background-image:url("./img/ss_trees.png")
}
img.trees_x2 {
	vertical-align: -2px;
	width: 96px;
	height: 160px;
	background-image:url("./img/ss_trees_x2.png")
}
	img#Machine_Wax_Barrel {
		background-position: -416px 0px;
	}
	img#Machine_Glass_Jar {
		background-position: -64px 0px;
	}
	img#Machine_Extruder {
		background-position: -256px 0px;
	}
	img#Machine_Mayonnaise_Machine {
		background-position: -608px 0px;
	}
	img#Machine_Still {
		background-position: 0px 0px;
	}
	img#Machine_Smoker {
		background-position: -640px 0px;
	}
	img#Machine_Infuser {
		background-position: -320px 0px;
	}
	img#Machine_Juicer {
		background-position: -544px 0px;
	}
	img#Machine_Ice_Cream_Machine {
		background-position: -448px 0px;
	}
	img#Machine_Enhanced_Oil_Maker {
		background-position: -224px 0px;
	}
	img#Machine_Butter_Churn {
		background-position: -128px 0px;
	}
	img#Machine_Soap_Press {
		background-position: -576px 0px;
	}
	img#Machine_Dehydrator {
		background-position: -160px 0px;
	}
	img#Machine_Drying_Rack {
		background-position: -192px 0px;
	}
	img#Machine_Vinegar_Cask {
		background-position: -512px 0px;
	}
	img#Machine_Hardwood_Keg {
		background-position: -32px 0px;
	}
	img#Machine_Grinder {
		background-position: -288px 0px;
	}
	img#Machine_Yogurt_Jar {
		background-position: -384px 0px;
	}
	img#Machine_Foreign_Cask {
		background-position: -96px 0px;
	}
	img#Machine_Spinning_Wheel {
		background-position: -352px 0px;
	}
	img#Machine_Alembic {
		background-position: -480px 0px;
	}
